* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.content {
    padding: 3rem;
}

section {
    border: 2px solid wheat;
    margin: 20px 0;
    padding: 20px;
}

section h1 {
    margin: 10px 0;
}

.scroll-indicator {
    height: 5px;
    position: fixed;
    border-radius: 3px;
    top: 10px;
    left: 2em;
    width: calc(100% - 6em);
}

.progress {
    background: linear-gradient(15deg, #0ee6dd 0.000%, #43dddf 11.111%, #54d0e2 22.222%, #35c2e4 33.333%, #00b2e7 44.444%, #00a0e9 55.556%, #008eec 66.667%, #007bee 77.778%, #2669f0 88.889%, #5057f3 100.000%);
    width: 0;
    height: 100%;
    transition: width 0.1s;
    border-radius: 3px;
}